@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Kết thúc phần Header -->
<!-- Phần Breadcrumb bắt đầu -->
<section class="breadcrumb-blog set-bg" data-setbg="@Url.Content("~/SbHome/img/breadcrumb-bg.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Blog của chúng tôi</h2>
            </div>
        </div>
    </div>
</section>
<!-- Phần Breadcrumb kết thúc -->
<!-- Phần Blog bắt đầu -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="@Url.Content("~/SbHome/img/blog/blog-1.jpg")"></div>
                    <div class="blog__item__text">
                        <span><img src="~/SbHome/img/icon/calendar.png" alt=""> 16 Tháng Hai 2020</span>
                        <h5>Những cây uốn tóc nào là tốt nhất</h5>
                        <a href="#">Đọc thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="@Url.Content("~/SbHome/img/blog/blog-2.jpg")"></div>
                    <div class="blog__item__text">
                        <span><img src="~/SbHome/img/icon/calendar.png" alt=""> 21 Tháng Hai 2020</span>
                        <h5>Nhẫn Eternity tồn tại mãi mãi</h5>
                        <a href="#">Đọc thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="@Url.Content("~/SbHome/img/blog/blog-3.jpg")"></div>
                    <div class="blog__item__text">
                        <span><img src="~/SbHome/img/icon/calendar.png" alt=""> 28 Tháng Hai 2020</span>
                        <h5>Lợi ích sức khỏe của kính mát</h5>
                        <a href="#">Đọc thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="@Url.Content("~/SbHome/img/blog/blog-4.jpg")"></div>
                    <div class="blog__item__text">
                        <span><img src="~/SbHome/img/icon/calendar.png" alt=""> 16 Tháng Hai 2020</span>
                        <h5>Hướng đến nâng cao Mastopexy</h5>
                        <a href="#">Đọc thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="@Url.Content("~/SbHome/img/blog/blog-5.jpg")"></div>
                    <div class="blog__item__text">
                        <span><img src="~/SbHome/img/icon/calendar.png" alt=""> 21 Tháng Hai 2020</span>
                        <h5>Nhẫn cưới - món quà cho cả đời</h5>
                        <a href="#">Đọc thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="@Url.Content("~/SbHome/img/blog/blog-6.jpg")"></div>
                    <div class="blog__item__text">
                        <span><img src="~/SbHome/img/icon/calendar.png" alt=""> 28 Tháng Hai 2020</span>
                        <h5>Các phương pháp khác nhau để tẩy lông</h5>
                        <a href="#">Đọc thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="@Url.Content("~/SbHome/img/blog/blog-7.jpg")"></div>
                    <div class="blog__item__text">
                        <span><img src="~/SbHome/img/icon/calendar.png" alt=""> 16 Tháng Hai 2020</span>
                        <h5>Bông tai vòng - phong cách từ lịch sử</h5>
                        <a href="#">Đọc thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="@Url.Content("~/SbHome/img/blog/blog-8.jpg")"></div>
                    <div class="blog__item__text">
                        <span><img src="~/SbHome/img/icon/calendar.png" alt=""> 21 Tháng Hai 2020</span>
                        <h5>Phẫu thuật mắt Lasik - bạn đã sẵn sàng chưa?</h5>
                        <a href="#">Đọc thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="@Url.Content("~/SbHome/img/blog/blog-9.jpg")"></div>
                    <div class="blog__item__text">
                        <span><img src="~/SbHome/img/icon/calendar.png" alt=""> 28 Tháng Hai 2020</span>
                        <h5>Phẫu thuật mắt Lasik - bạn đã sẵn sàng chưa?</h5>
                        <a href="#">Đọc thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
